sub.txt
{
  "name": "SW - Agendar Cita Seguros",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "clientName" },
            { "name": "clientEmail" },
            { "name": "clientPhone" },
            { "name": "insuranceType" },
            { "name": "preferredDate" },
            { "name": "preferredTime" },
            { "name": "notes" }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-560, 0],
      "id": "trigger-calendar",
      "name": "Trigger"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// Construir fecha/hora del evento\nconst dateStr = data.preferredDate || new Date().toISOString().split('T')[0];\nconst timeStr = data.preferredTime || '10:00';\nconst startDateTime = `${dateStr}T${timeStr}:00-05:00`; // UTC-5 Colombia\n\n// Calcular fin (1 hora después)\nconst start = new Date(`${dateStr}T${timeStr}:00`);\nstart.setHours(start.getHours() + 1);\nconst endTime = start.toTimeString().substring(0, 5);\nconst endDateTime = `${dateStr}T${endTime}:00-05:00`;\n\nreturn [{\n  json: {\n    ...data,\n    startDateTime,\n    endDateTime,\n    eventTitle: `Asesoría ${data.insuranceType || 'Seguros'} - ${data.clientName}`,\n    description: `Cliente: ${data.clientName}\\nTeléfono: ${data.clientPhone}\\nCorreo: ${data.clientEmail}\\nTipo de seguro: ${data.insuranceType}\\nNotas: ${data.notes || 'Sin notas adicionales'}`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-320, 0],
      "id": "prepare-event",
      "name": "Preparar Evento"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "primary"
        },
        "start": "={{ $json.startDateTime }}",
        "end": "={{ $json.endDateTime }}",
        "additionalFields": {
          "summary": "={{ $json.eventTitle }}",
          "description": "={{ $json.description }}",
          "attendees": "={{ $json.clientEmail }}",
          "reminders": {
            "useDefault": false,
            "overrides": [
              { "method": "email", "minutes": 1440 },
              { "method": "popup", "minutes": 60 }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [-80, 0],
      "id": "create-event",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "CALENDAR_CREDENTIAL_ID",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const event = $input.first().json;\nreturn [{ json: { \n  success: true, \n  message: `Cita agendada exitosamente para ${$('Preparar Evento').item.json.clientName} el ${$('Preparar Evento').item.json.preferredDate} a las ${$('Preparar Evento').item.json.preferredTime}`,\n  eventId: event.id,\n  eventLink: event.htmlLink\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [160, 0],
      "id": "response-calendar",
      "name": "Respuesta"
    }
  ],
  "connections": {
    "Trigger": { "main": [[{ "node": "Preparar Evento", "type": "main", "index": 0 }]] },
    "Preparar Evento": { "main": [[{ "node": "Google Calendar", "type": "main", "index": 0 }]] },
    "Google Calendar": { "main": [[{ "node": "Respuesta", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}